.sidebar__wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 4rem auto 8rem;
}
.logo__wrapper,
.menu,
.helper__wrapper {
    border: 1px solid;
    border-radius: 0px 0px 1.2rem 0px;
    border-left: none;
}
.logo__wrapper {
    border-top: none;
    border-radius: 0px 0px 1.2rem 0px;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    padding: 1rem;
    font-size: 1.1rem;
}
.menu {
    border-radius: 0px 1.2rem 1.2rem 0px;
    padding: 2rem 1rem;
}

.sidebar__wrapper .links a {
    text-decoration: none;
    display: flex;
    gap: 0.7rem;
    align-items: center;
    font-size: 1rem;
    padding: 0.7rem 0;
    letter-spacing: 2px;
    font-weight: 300;
}

.helper__wrapper {
    border-radius: 0px 1.2rem 0px 0px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.helper__wrapper .links {
    display: flex;
    gap: 0.7rem;
    align-items: center;
    font-size: 1rem;
    padding: 0.7rem 0;
    letter-spacing: 2px;
    font-weight: 300;
    cursor: pointer;
}
