.top__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
}
.top__nav .page__title {
    font-weight: 500;
    font-size: 1.5rem;
}
.top__nav .page__title span {
    font-weight: 400;
    font-size: 0.9rem;
    display: block;
}
.top__nav .nav__actions {
    display: flex;
    gap: 2rem;
    align-items: center;
}
.nav__actions .user_Profile {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 0.9rem;
}
