@font-face {
    font-family: "Inter";
    src: local("Inter Bold"), url("./assets/Fonts/Inter-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Inter";
    src: local("Inter Regular"), url("./assets/Fonts/Inter-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Inter";
    src: local("Inter Light"), url("./assets/Fonts/Inter-Light.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Inter";
    src: local("Inter Medium"), url("./assets/Fonts/Inter-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Inter";
    src: local("Inter SemiBold"), url("./assets/Fonts/Inter-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Inter";
    src: local("Inter Thin"), url("./assets/Fonts/Inter-Thin.ttf") format("truetype");
    font-weight: 300;
}

* {
    transition: all 100ms;
    font-family: Inter !important;
}
.main__wrapper {
    height: 100svh;
    display: grid;
    grid-template-columns: 220px auto;
}

.app__wrapper {
    border-left: 1px solid;
    overflow: auto;
}
.mainPage__wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 74px auto;
    padding: 0.8rem 1.2rem;
}
.empty__states {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
}
.chat-background {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;
}

.spinner {
    animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes colors {
    0% {
        stroke: #4285f4;
    }
    25% {
        stroke: #de3e35;
    }
    50% {
        stroke: #f7c223;
    }
    75% {
        stroke: #1b9a59;
    }
    100% {
        stroke: #4285f4;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }
    50% {
        stroke-dashoffset: 46.75;
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        transform: rotate(420deg);
    }
}

.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}
